<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Services - Flattern Bootstrap Template</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Muli:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename = 'assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'assets/vendor/icofont/icofont.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'assets/vendor/animate.css/animate.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'assets/vendor/venobox/venobox.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'assets/vendor/owl.carousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'assets/vendor/aos/aos.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename = 'assets/css/style.css') }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Flattern - v2.1.0
  * Template URL: https://bootstrapmade.com/flattern-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

 

  <!-- ======= Header ======= -->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i><a href="mailto:green_lights@gmail.com">green_lights@gmail.com</a>
        <i class="icofont-phone"></i> +1 5589 55488 55
      </div>
      <div class="social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="{{ url_for('index') }}">TRY FIRST</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>
      <div align="right">
        {% extends "nav_bar.html" %}
        {% block content %}
      </div>
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Services</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Services</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->


    
    <!-- ======= Services Section ======= -->

    
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2><i class="fa fa-quote-left" style="font-size:24px" aria-hidden="true"></i> DON'T WAIT !! <strong>JUST TRY IT ON YOURSELF</strong></h2>
        </div>

        
        </div>

     
    </section><!-- End Services Section -->

     
    <section class="timeline bg-image sect-mt4 route" id="timeline">
  
  

      <ul>
    
        <li>
          <div>
         <time>STEP 1<br>UPLOAD YOUR PICTURE</time>
         You just have to begin by uploading your picture for the trial!!
          </div>
        </li>
    
        <li>
          <div>
            <time>STEP 2<br>
           CHOOSE THE OUTFIT OF YOUR CHOICE</time>
          Among the multifarious outfits and designs available,choose the one you like and have a look. 
        </div>
        </li>
        <li>
          <div>
            <time>STEP 3<br>
              SEE YOURSELF READY</time>
            Keep trying and have a look for your each and every appealing outfit!!
            Just go for it!! 
          </div>
        </li>
      </ul>
    </section>
    <script>
      var itemsTimeLine = document.querySelectorAll('.timeline li');
    function isElementInViewport(el) {
      var rect = el.getBoundingClientRect();
      return (
        rect.top >= 0 &&
        rect.left >= 0 &&
        rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
        rect.right <= (window.innerWidth || document.documentElement.clientWidth)
      );
    }
    
    function addClassVisible() {
      for(var item = 0; item < itemsTimeLine.length; item++) {
        if (isElementInViewport(itemsTimeLine[item])) {
          itemsTimeLine[item].classList.add('is-visible');
        }
      }
    }
    
    window.addEventListener("load", addClassVisible);
    window.addEventListener("scroll", addClassVisible);
    </script>
<br>
<br>
<div class="section-title" data-aos="fade-up">
  <h2><i class="fa fa-quote-left" style="font-size:24px" aria-hidden="true"></i><strong>LOGIC BEHIND MAGIC !!</strong></h2>
</div>
<div class="row">
  <div class="col-md-6">
   <div style="padding-left: 10%; padding-right: 20%">
    <div class="hov">
     <div class="w3-panel w3-center" >
      <p><i class="w3-serif w3-xlarge">
       <span  style="font-size:70px;line-height:0.6em;opacity:0.2 ; width: 80%; text-align: center;"></span>
        We generate output image of the person with selected garment.The taken inputs are followed by some preprocessing.This is done using Generative Adversial Networks.</i></p>
     </div>
    </div>
   </div>
  <br>
  <div style="padding-left: 10%; padding-right:10%;">
   <div class="hov">
    <div class="w3-panel w3-center">
     <p><i class="w3-serif w3-xlarge">
      <span class="hov" style="font-size:80px;line-height:0.6em;opacity:0.2"></span>
       OpenPose detects keypoints on human body and Human Parser is generated. Inputs are feeded to the first GAN : Geometric Matching Module(GMM) to obtain warped apparels. Final stage is processed by TRY ON Module(TOM).</i></p>
      </div>
     </div>
    </div>
    <br>
    <div style="padding-left: 10%; padding-right: 20%"> 
      <div class="hov">
       <div class="w3-panel w3-center">
      <p><i class="w3-serif w3-xlarge">
      <span class="hov" style="font-size:80px;line-height:0.6em;opacity:0.2"></span>
      The output generated by enhancement neural network generator will be our final output.
      We tried our best to give user a lively Shopping Experience.</i></p>
      </div>
     </div>
    </div>
  </div>
  <div class="col-md-6">
    <img src="https://3dlook.me/wp-content/uploads/2019/02/front_photo_3DLOOK.png">
    <img src="https://3dlook.me/wp-content/uploads/2019/02/measuring_slices.png">
  </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

    <!-- ======= Features Section ======= -->
  <section id="features" class="features">
      <div class="container">
  
        <div class="section-title" data-aos="fade-up">
          <h2>Some <strong>Features</strong> we do provide</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-right">
            <ul class="nav nav-tabs flex-column">
              
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-2">
                  <h4>HIGH RESOLUTION</h4>
                  <p>Voluptas vel esse repudiandae quo excepturi.</p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-3">
                  <h4>100% ACCURACY</h4>
                  <p>Velit veniam ipsa sit nihil blanditiis mollitia natus.</p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-4">
                  <h4>SAFE SHOPPING</h4>
                  <p>Ratione hic sapiente nostrum doloremque illum nulla praesentium id</p>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-7 ml-auto" data-aos="fade-left" data-aos-delay="100">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <figure>
                  <img src="https://i0.wp.com/www.quytech.com/blog/wp-content/uploads/2018/07/Virtual-mirror-1024x576-1024x576.jpg?resize=1024%2C576&ssl=1" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-2">
                <figure>
                  <img src="{{ url_for('static', filename = 'assets/img/features-2.png') }}" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-3">
                <figure>
                  <img src="{{ url_for('static', filename = 'assets/img/features-3.png') }}" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-4">
                <figure>
                  <img src="{{ url_for('static', filename = 'assets/img/features-4.png') }}" alt="" class="img-fluid">
                </figure>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

  </main><!-- End #main -->

   <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>INSTITUTE</h3>
            <p>
              INDIAN INSTITUTE OF TECHNOLOGY, (INDIAN SCHOOL OF MINES) DHANBAD <br>
              <!-- DHANBAD<br> -->
              INDIA <br><br>
              <!-- <strong>Phone:</strong> +1 5589 55488 55<br> -->
              <strong>Email:</strong> green_lights@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('index') }}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('about') }}">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('services_tryon') }}">TRY ON guide</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('services_sizep') }}"></a>Size Predictor</li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('blog') }}">Blog</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('services_tryon') }}">TRY APPARELS ON</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">WEB DEVELOPMENT</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('services_sizep') }}">SIZE PREDICTION</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">MARKETING</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">MODEL </a></li> -->
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Teck geek?<br>Stay Updated with the World.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Flattern</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flattern-multipurpose-bootstrap-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

   <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename = 'assets/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'assets/vendor/jquery.easing/jquery.easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'assets/vendor/php-email-form/validate.js') }}"></script>
  <script src="{{ url_for('static', filename = 'assets/vendor/jquery-sticky/jquery.sticky.js') }}"></script>
  <script src="{{ url_for('static', filename = 'assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'assets/vendor/venobox/venobox.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'assets/vendor/waypoints/jquery.waypoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'assets/vendor/owl.carousel/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'assets/vendor/aos/aos.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename = 'assets/js/main.js') }}"></script>

</body>

</html>


{% endblock %}
